@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  user-select: none;
  scroll-behavior: smooth;
}

body {
  background-color: #fff7ed;
  font-family: "Cormorant Garamond", serif;
}

h3 {
  font-size: 17px;
}
